### node
node_modules
/dist
package-lock.json
package.json

### Gonoob ###
/docs/.vitepress
/docs/about
/docs/public
/docs/index.md

### IDEA ###
.idea

### MacOS ###
.DS_Store

### VS Code ###
.vscode